.button {
  background-color: #4f46e5;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 500;
  margin-top: 38px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.4s ease-in-out;
}
