.section {
  margin-top: 64px;
  margin-bottom: 161px;
  display: flex;
  gap: 90px;
  .aside {
    display: flex;
    flex-direction: column;
    max-width: 309px;
    div:nth-of-type(2) {
      margin-top: 32px;
    }
    .asideTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 40px;
        line-height: 48.4px;
        font-weight: 600;
        color: #0a0a0a;
      }
      span {
        color: #8a8a8a;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .asideFilter {
      margin-top: 56px;
      p {
        font-size: 18px;
        line-height: 21.8px;
        color: #666666;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 24px;
      }
      span {
        padding: 7px 12px;
        border-radius: 12px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #666666;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
      .category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        span {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
      .topics {
        flex-flow: wrap;
        gap: 8px;
        display: flex;
      }
      .instructor {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        gap: 8px;
        span {
          max-width: fit-content;
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
    hr {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    .filetersActive {
      color: #8a8a8a;
      line-height: 16.9px;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  .contentContainer {
    width: 100%;
    .sort {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      height: fit-content;
      .totalPages {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #666666;
      }
      .dropDown {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 234px;
        position: relative;
        width: 100%;
        background-color: #ffffff;
        height: 49px;
        border-radius: 10px;
        cursor: pointer;
        p {
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          span {
            color: #4f46e5;
            text-transform: capitalize;
          }
        }
        ul {
          background-color: #ffffff;
          top: 110%;
          position: absolute;
          list-style: none;
          width: 100%;
          border-radius: 10px;
          li {
            padding: 10px 20px;
            text-transform: capitalize;
            color: #666666;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #dddbfa;
              color: #4f46e5;
            }
            &:nth-of-type(1) {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
            &:nth-of-type(5) {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }
  }
}
