.formGroup {
  margin-top: 24px;
  label {
    line-height: 16.9px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    &Error {
      color: #f4161a;
    }
  }
  input {
    margin-top: 8px;
    height: 45px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    color: #8a8a8a;
    line-height: 16.9px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    border: 1.5px solid #8a8a8a;
    outline: none;
    &Error {
      border: 1px solid #f4161a;
    }
  }
  .errorMessage {
    color: #f4161a;
  }
  .passwordWrapper {
    position: relative;
    .visible {
      position: absolute;
      top: calc(50% + 4px);
      transform: translateY(-50%);
      cursor: pointer;
      right: 15px;
    }
  }
}
