.formGroup {
  margin-top: 18px;
  label {
    line-height: 16.9px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
  input {
    margin-top: 8px;
    height: 45px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    color: #8a8a8a;
    line-height: 16.9px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    outline: none;
  }
  .errorMessage {
    display: block;
    color: #f4161a;
    height: 20px;
  }
  .passwordWrapper {
    position: relative;
    .visible {
      position: absolute;
      top: calc(50% + 4px);
      transform: translateY(-50%);
      cursor: pointer;
      right: 15px;
    }
  }
  .imageInput {
    height: 140px;
  }
}
