.user {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeedfc;
  border-radius: 50%;
  margin-left: 13px;
  flex-shrink: 0;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .dot {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: -5px;
    bottom: -5px;
    background-color: #1dc31d;
    border: 5px solid#ffff;
  }
}
