.user {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeedfc;
  border-radius: 50%;
  margin-left: 13px;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.2s ease-in-out;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
  }
  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -3px;
    bottom: -3px;
    background-color: #1dc31d;
    border: 3px solid#ffff;
    &Incomplete {
      background-color: #f4a316;
    }
  }
  &:hover {
    border: none;
    outline: 2px solid #b7b3f4;
    outline-offset: 2px;
  }
}
