.section {
  margin-top: 67px;
  margin-bottom: 37px;
  .breadCrums {
    display: flex;
    align-items: center;
    gap: 8px;
    a {
      font-size: 18px;
      line-height: 21.8px;
      color: #666666;
      font-weight: 500;
    }
    .active {
      color: #736bea;
    }
  }
}
